<section id="section-about" class="clearfix about">
    {# creates BG and padding for content #}
    <div class="about-main-bg">
        {# the next 3 divs are bootstrap's layout #}
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    {# this is content #}
                    <h2 class="about__title">Meet the Team</h2>
                    <h4 class="about__doctor">Paul B. Smith, <span class="about__doctor--title">DDS</span></h4>
                    <p class="about__copy">By combining advanced dental technology with a gentle, friendly style, Dr.
                        Smith and his team will make you and your family more comfortable than you ever thought
                        possible.</p>
                    <a href="#" data-target="#modal--smith" data-toggle="modal" class="about__link hidden-xs hidden-sm hidden-lg">Read More</a>
                    <p class="about__copy hidden-md">Dr. Smith earned his doctorate from the University of Texas at San Antonio,
                        and each year, he continues to study the latest advances in cosmetic and family dentistry. His
                        use of state-of-the-art technology—including Invisalign® “invisible” orthodontics, professional
                        smile-whitening, and tooth-colored restorations—will help you and your family maintain
                        beautiful, healthy smiles for a lifetime.</p>
                    <p class="about__copy hidden-md">Dr. Smith and his wife, Jamie, have been married for over ten years and have
                        four children. He is an avid outdoorsman and is active in his church and local community.</p>
                    {% include 'molecules/associations__carousel.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div id="modal--smith" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                    <h4 class="about__doctor">Paul B. Smith, <span class="about__doctor--title">DDS</span></h4>
                </div>
                <div class="modal-body">
                    <p class="about__copy">Dr. Smith earned his doctorate from the University of Texas at San Antonio,
                        and each year, he continues to study the latest advances in cosmetic and family dentistry. His
                        use of state-of-the-art technology—including Invisalign® “invisible” orthodontics, professional
                        smile-whitening, and tooth-colored restorations—will help you and your family maintain
                        beautiful, healthy smiles for a lifetime.</p>
                    <p class="about__copy">Dr. Smith and his wife, Jamie, have been married for over ten years and have
                        four children. He is an avid outdoorsman and is active in his church and local community.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {# these are the icons on bottom #}

</section>

