<section id="section-about" class="clearfix about">
    {# creates BG and padding for content #}
    <div class="about-main-bg">
        {# the next 3 divs are bootstrap's layout #}
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    {# this is content #}
                    <h2 class="about__title">Meet the Doctor</h2>
                    <h3 class="about__doctor">Lori Smith, <span class="about__doctor--title">DDS</span></h3>
                    {# this is the mobile and tablet image (only shows then) #}
                    <div class="center">
                        <img src="/assets/lori-mobile-bio.jpg" alt="{{ mainDoctor }}" class="about-mobile-image hidden-md hidden-lg">
                    </div>
                    <p class="about__copy">By combining advanced clinical dentistry with a fun, friendly style, Dr. Smith and her team will make you and your family more comfortable than you ever thought possible. Each year Dr. Smith participates in extensive postdoctoral studies from the nation’s foremost clinicians, who provide some of the latest advances in dental technology and the most effective materials available. So whether you’re looking for advanced cosmetic restorations, or simply a place to help maintain your family’s oral health, we’ll give you something to smile about!</p>
                    <p class="about__copy about__copy--last">A native of Oklahoma, Dr. Smith earned her doctorate from the University of Oklahoma College of Dentistry. She and her husband, Lawrence, have been married for 16 years and love spending family time with their twins, Maggie and Bryson. They are active in their church and the local community.</p>
                </div>
            </div>
        </div>
    </div>

    {# these are the icons on bottom #}
    {% include 'molecules/associations__carousel.twig' %}

</section>

