<section id="section-forms">
    <div class="container center">
        <div class="heading">
            <h2 class="heading__title">New Patient Forms</h2>
        </div>
        <p class="forms__copy">Click here if you have already scheduled your new patient exam and need to provide our practice with your health history information.</p>
        <div class="forms__btn-wrapper">
            <a href="https://ssl.tysonsteele.com/lorismithdds/questionnaire/form" target="_blank" class="btn btn--style-three">Enter Health History</a>
        </div>
    </div>
</section>
