<!-- Header
============================================= -->
<header id="header" class="no-sticky">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo" class="nobottomborder">
                <a href="index.html" class="standard-logo" data-dark-logo="images/logo.svg"><img src="/assets/logo.svg" alt="Dr. Paul B. Smith - Creekwood Dental"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="images/logo.svg"><img src="/assets/logo.svg" alt="Dr. Paul B. Smith - Creekwood Dental"></a>
            </div>

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="nobottomborder">
                <div  class="hidden-xs hidden-sm">
                    <p class="center">Dr. Paul B. Smith, <span>DDS</span></p>
                </div>
                <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="750" data-offset="0">
                    <li><a href="#" data-href="#section-specials"><div>New Patient Offers</div></a></li>
                    <li><a href="#" data-href="#section-reviews"><div>Reviews</div></a></li>
                    <li><a href="#" data-href="#section-insurance"><div>No Insurance?</div></a></li>
                    <li><a href="#" data-href="#section-about"><div>Meet the Doctor</div></a></li>
                    <li><a href="#" data-href="#section-services"><div>Services</div></a></li>
                    <li><a href="#" data-href="#section-forms"><div>Forms</div></a></li>
                    <li><a href="#" data-href="#section-location"><div>Location</div></a></li>
                </ul>
            </nav>

            <!-- CALLS TO ACTION
            ============================================= -->
            <div id="calls-to-action-sidebar" class="hidden-xs hidden-sm">
                <p>New Patient Hotline <a class="phone-number" href="tel:{{ newPhone }}">{{ newPhoneNoBreak }}</a></p>
                {% include 'atoms/request-appointment-button.twig' %}
                <p class="existing-text">Existing Patients: <a class="phone-number small" href="tel:{{ existingPhone }}">{{ existingPhoneNoBreak }}</a></p>
            </div>

        </div>

    </div>
</header>
<div class="clear"></div>
