<section id="section-insurance">
    <div class="flexbox-wrapper">
        <div class="container">
            <div class="row"></div>
            <h2 class="title">No Insurance?</h2>
            <h3 class="sub-title">Our Patients Don't Need It!</h3>
            <h3 class="preventative-care">Get your preventive care for<br> a low monthly fee.</h3>
            <p class="insurance__copy">Exclusively for our uninsured patients.</p>
            <p class="insurance__copy">Make easy monthly payments for your preventive care.</p>
            <p class="insurance__copy insurance__copy--last">Save money on your treatment.</p>
            <a class="btn" href="{{ insuranceLink }}" target="_blank">Learn More</a>
        </div>
    </div>
    <img src="/assets/insurance-bg.jpg" alt="{{ mainDoctor }}'s happy patients" class="insurance__image">
</section>

