<section id="section-insurance">
    <div class="flexbox-wrapper">
        <div class="container">
            <h2 class="title">No Insurance?</h2>
            <h3 class="sub-title">Our Patients Don't Need It!</h3>
            <h3 class="preventative-care">Get your preventive care<br>for a low monthly fee.</h3>
            <div class="row">
                <div class="col-md-6">
                    <p class="insurance__copy">Exclusively for our uninsured patients.</p>
                    <p class="insurance__copy">Make easy monthly payments for your preventive care.</p>
                    <p class="insurance__copy insurance__copy--last">Save money on your treatment.</p>
                </div>
            </div>
            <a class="btn btn--style-two" href="{{ insuranceLink }}" target="_blank">Learn More</a>
        </div>
    </div>
    <img src="/assets/insurance.jpg" alt="{{ mainDoctor }}'s happy patients" class="insurance__image">
</section>

