<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/smith-mobile-slide.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</div>

<!-- Slider
============================================= -->
<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide1" style="background: url('assets/slide1-bg.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left">
                        <h1 class="slide__title">The&nbsp;Right&nbsp;Dentist</h1>
                        <h1 class="slide__title-family">For&nbsp;Your&nbsp;Family</h1>
                        <h4 class="slide__copy">Now Welcoming New Patients</h4>
                        <a href="#" class="btn" data-scrollto="#section-specials" data-offset="80">New Patient Offers</a>
                    </div>
                </div>
            </div> 

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide2" style="background: url('assets/slide2-bg.jpg') 50% 50% no-repeat; background-size: cover;"> 
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left text-left">
                        <h2 class="slide__title">Read what our<br>Patients&nbsp;are&nbsp;Saying</h2>
                        <img src="assets/slide-stars.png" alt="Five Stars" class="stars">
                        <h5 class="copy">“Wonderful professional care, great people, latest technology with the knowledge to make your dental&nbsp;experience unique.” - Jimmie</h5>
                        <a href="#" class="btn" data-offset="80" data-scrollto="#section-reviews">READ MORE REVIEWS</a>
                    </div>
                </div>  
            </div>   

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide3" style="background: url('assets/slide3-bg.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix slide-content">
                    <div class="slider-caption slider-caption-left text-left">
                        <h2 class="title--no-insure">No Insurance?</h2>
                        <h3 class="title--sub">Our Patients Don’t Need It!</h3>
                        <h3 class="preventative-copy">Get your preventive care for<br>a low monthly fee</h3>
                        <a href="#" class="btn" data-offset="80" data-scrollto="#section-insurance">Learn more</a> 
                    </div>
                </div>
            </div> 

        </div>
    </div>
</section>
 {% include 'atoms/down-arrow.twig' %} 
