<section id="section-services">
    <div class="container-fluid">
        <div class="row">
            <div class="service col-sm-6">
                <img src="/assets/services/smile-makeovers.jpg" alt="Smile makeovers" class="hidden-xs service__image">
            </div>
            <div class="service service--text-block col-sm-6">
                <h3 class="service__title">Smile Makeovers</h3>
                <img src="/assets/services/smile-makeovers.jpg" alt="Smile makeovers" class="hidden-sm hidden-md hidden-lg service__image--mobile">
                <p class="service__copy">Cosmetic dentistry is one of the most cost-effective ways to improve your
                    appearance. A beautiful, bright, healthy smile will increase self-confidence and overall life
                    satisfaction. Cosmetic dentistry includes things like tooth-colored restorations, dental implants,
                    and crowns. We have many options, so please call us today!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="service service--text-block col-sm-6">
                <h3 class="service__title">Orthodontics</h3>
                <img src="/assets/services/orthodontics.jpg" alt="Orthodontics" class="hidden-sm hidden-md hidden-lg service__image--mobile">
                <p class="service__copy">A beautifully-aligned natural smile can be obtained both with traditional metal
                    braces and other more subtle options like Invisalign® "invisible" orthodontics. Please contact us
                    today for a free orthodontic consultation!​</p>
            </div>
            <div class="service col-sm-6">
                <img src="/assets/services/orthodontics.jpg" alt="Orthodontics" class="hidden-xs service__image">
            </div>
        </div>
    </div>
</section>