.section-care-credit-slab {
  background-color: #fff;
  padding: 30px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    color: #282828;
    font-family: $ff-open;
    margin-bottom: 0;
    padding-right: 25px;
    // letter-spacing: 1px;

    @include font-size(18px, 17px, 16px, 17px, 16px);
  }
}
