a.btn,
button.btn {
  font-family: $ff-lato;
  font-weight: 900 !important;
  background-color: #9175eb;
  color: #fff;
  border-radius: 50px;
  border: solid 2px #fff;
  padding: 12px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.36);
  font-size: 12px;

  &:hover,
  &:focus {
    background-color: lighten(#9175eb, 10%);
    color: #fff;
    //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.46);
    transition: all 0.3s ease;
    text-decoration: none;
  }

  &.btn--style-two {
    background: none;
    background-color: #06b7d7;
    border: solid 2px #fff;
    font-family: $ff-lato;
    //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.36);

    @include font-size(16px, 16px, 15px, 14px, 13px);

    &:hover,
    &:focus {
      background-color: darken(#06b7d7, 15%);
      //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.d46);
    }
  }

  &.btn--style-three {
    background-image: none;
    background-color: #4b8ea8;
    color: #fff;
    border-color: #fff;
    font-weight: 400 !important;
    //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.36);

    @include font-size(16px, 16px, 14px, 14px, 14px);

    &:hover,
    &:focus {
      background-color: darken(#4b8ea8, 10%);
    }
  }

  &.shadowed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &.form-btn {
    width: 100%;
  }
}
