.location-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 20px;

  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0;
    padding-right: 0;
  }

  //&__office-image {
  //  padding-left: 20px;
  //  padding-right: 20px;
  //  width: 100%;
  //  max-width: 550px;
  //  margin-left: auto;
  //  margin-right: auto;
  //  @media (max-width: 991px) {
  //    order: -1;
  //  }
  //}

  &__logo {
    &--wrapper {
      //background-color: #323437;
      text-align: center;
      // padding-top: 10px;
      // padding-bottom: 20px;

      @media (max-width: $width-md) {
        background: none;
      }
    }
    //max-height: 115px;
    width: 300px;
  }

  &__content {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__doctor {
    color: #5f5f5e;
    font-weight: 700;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: $ff-lato;

    @include font-size(20px, 19px, 26px, 24px, 22px);

    &--title {
      color: #5f5f5e !important;
      font-weight: 400;

      @include font-size(18px, 17px, 24px, 22px, 20px);
    }
  }

  &__address {
    color: #000;
    margin-top: 25px;
    font-family: $ff-open;

    @include font-size(20px, 19px, 22px, 20px, 19px);
  }

  &__map-link {
    color: #345a75;
    text-decoration: underline;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-family: $ff-lato;

    @include font-size(20px, 19px, 22px, 20px, 19px);
  }

  &__new-patient-text {
    color: #5f5f5e;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;
    font-family: $ff-open;
  }

  &__new-patient-number {
    display: block;
    font-size: 40px;
    font-weight: 900;
    color: #5f5f5e;
    font-family: $ff-lato;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1;

    @include font-size(32px, 28px, 26px, 28px, 28px);

    &:hover {
      color: #5f5f5e;
      text-decoration: none;
    }
  }

  &__existing-patient-text {
    color: #5f5f5e;
    font-weight: 700;
    margin-top: 5px;
    line-height: 1;
    margin-bottom: 25px;
    font-family: $ff-open;

    //@include font-size(20px, 20px, 20px, 18px, 16px);
  }

  &__existing-patient-number {
    color: #5f5f5e;
    font-family: $ff-open;
    font-size: 15px;

    &:hover {
      // color: #fff;
      color: #35f5f5;
      text-decoration: none;
    }
  }

  &__fax-text {
    color: #4b382c;
    margin-top: 20px;
    line-height: 1;
    margin-bottom: 5px;
    font-size: 20px;
  }

  &__fax-number {
    color: #4b382c;

    @include font-size(28px, 26px, 24px, 22px, 22px);
  }

  &__btn {
    // margin-top: 25px;
    margin-bottom: 25px;
  }

  &__welcoming-patients {
    color: #4b382c;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 19px;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__social-media {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hours-table {
    padding-bottom: 30px;
    display: inline-block;

    h5 {
      line-height: 1;
      margin-bottom: 0;
      font-weight: 400;
      color: #71adc6;
      font-family: $ff-lato;
      padding-bottom: 10px;

      @include font-size(27px, 24px, 24px, 22px, 22px);
    }

    .hours-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      > p:first-child {
        text-align: left;
        flex-grow: 1;
      }

      > p:last-child {
        text-align: right;
      }
    }

    p {
      color: #000;
      font-size: 16px;
      line-height: 1;
      margin: 0 auto;
      font-family: $ff-lato;

      &.sub-text {
        font-size: 13px;
      }
    }
  }
}
