<div class="hours-table">
    <h5>Office Hours:</h5>
    <div class="hours-wrapper">
        <p>Mon</p>
        <p>8:00am - 5:00pm*</p>
    </div>
    <div class="hours-wrapper">
        <p>Tues</p>
        <p>8:00am - 4:00pm**</p>
    </div>
    <div class="hours-wrapper">
        <p>Wed</p>
        <p>8:00am - 5:00pm</p>
    </div>
    <div class="hours-wrapper">
        <p>Thurs</p>
        <p>8:00am - 4:00pm**</p>
    </div>
    <div class="hours-wrapper">
        <p>Friday</p>
        <p>7:00am - 4:00pm*</p>
    </div>
    <p class="sub-text">*closed every other week</p>
    <p class="sub-text">**extended hours available, call for details</p>
</div>