<div class="section-care-credit-slab">
    <div class="container">
        <h6 class="text">Financing available from</h6>
        <a href="https://www.carecredit.com/doctor-locator/General-Dentistry-in-KINGWOOD-TX-77339/Creekwood-Dental-Inc/" target="_blank"><img src="/assets/care-credit.png" alt="Care Credit"></a>
    </div>
</div>