<div class="owl-carousel js-tour-carousel">
    <div>
        <img src="/assets/tour/01.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/02.jpg" alt="Waiting Room Game Station">
    </div>
    <div>
        <img src="/assets/tour/03.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/04.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/05.jpg" alt="Outside the office">
    </div>
    <div>
        <img src="/assets/tour/06.jpg" alt="Outside the office">
    </div>
</div>