#section-about {
  background-image: none;

  .about__title {
    margin-top: 30px;
    margin-bottom: 30;
    color: #5f5f5e;
    font-weight: 400;
  }

  .about__doctor {
    color: #72afc8;
    font-family: $ff-merri;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;

    &--title {
      color: #72afc8;
      font-weight: 400;

      @include h5();
    }
  }

  .about__link {
    color: #72afc8;
    text-decoration: underline !important;

    &:active,
    &:hover {
      color: #72afc8;
    }
  }

  .about__copy {
    margin-top: 15px;
    font-size: 16px;
    color: #5f5f5e;

    @media (min-width: 992px) {
      font-size: 13px;
    }
  }

  @media (min-width: 550px) {
    .about-mobile-image {
      max-width: 400px;
    }
  }

  @media (min-width: 992px) {
    .about-main-bg {
      padding: 30px 0;
      background-image: url(/assets/team/doc-bio.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left;
    }
  }

  @media (min-width: 1200px) {
    .about-main-bg {
      padding: 20px 0;
    }
  }

  @media (min-width: 1440px) {
    .about-main-bg {
      padding: 60px 0;
    }
  }

  .team {
    background-color: #faf6ed;
    padding-top: 30px;
    padding-bottom: 45px;

    .heading {
      &__title {
        margin-bottom: 10px;
        line-height: 1;
        color: #5f5f5e;
      }

      &__sub {
        margin-bottom: 30px;
        line-height: 1;
        color: #5f5f5e;
      }
    }

    &__name {
      color: #72afc8;
      font: 700;
      font-family: $ff-merri;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__learn-more {
      text-decoration: underline !important;
      margin-bottom: 0;

      a {
        color: #5f5f5e;

        &:active,
        &:hover {
          color: #5f5f5e;
        }
      }
    }
  }

  .modal-image {
    margin-top: 5px;
  }
}
