#slider {
  .slider-caption {
    top: auto !important;
    bottom: 40px;
    left: 40px;
    max-width: none;
  }

  .slide1 {
    .slide__title {
      color: #5f5f5e;
      font-weight: 400;
      margin-bottom: 10px;

      @include font-size(68px, 50px, 68px);
    }

    .slide__copy {
      font-family: $ff-merri;
      color: #528fa8;
      margin-bottom: 10px;

      @include font-size(36px, 22px, 32px);
    }

    .btn {
      float: right;
    }
  }

  .slide2 {
    .slide__title {
      color: #5f5f5e;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 1;

      @include font-size(70px, 50px, 68px);

      &--sub {
        color: #5f5f5e;
        font-weight: 400;

        @include font-size(34px, 27px, 34px);
      }
    }

    .slide__copy {
      font-family: $ff-merri;
      color: #528fa8;
      margin-bottom: 10px;

      @include font-size(27px, 19px, 24px);
    }

    .btn {
      float: right;
    }
  }

  .slide3 {
    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 5px;
    }

    .slide__title {
      color: #5f5f5e;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0;
      margin-right: 20px;

      @include font-size(70px, 50px, 68px);

      &--sub {
        color: #5f5f5e;
        font-weight: 400;

        @include font-size(34px, 27px, 34px);
      }
    }

    .slide__copy {
      color: #696968;
      line-height: 1.3;
      margin-bottom: 10px;

      @include font-size(27px, 19px, 24px);
    }

    .btn {
      float: right;
      margin-top: -20px;
      margin-right: 15px;
      margin-left: 15px;
    }

    @media (max-width: 1199px) {
      img {
        max-height: 48px;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-image: none;
    width: auto;
    height: auto;
  }

  .swiper-button-prev {
    left: -10px;
  }

  .swiper-button-next {
    right: 0;
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }

  #calls-to-action {
    p {
      font-family: $ff-open;
      color: #5f5f5e;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .phone-number {
      color: #5f5f5e;
      font-weight: 900;
      font-family: $ff-lato;
      line-height: 1.5;

      @include font-size(30px, 28px, 26px, 28px, 22px);

      &.small {
        font-size: 14px !important;
        font-weight: 700;
      }
    }

    .existing-text {
      font-family: $ff-lato;
      font-size: 16px;
      font-weight: 700;
      color: #5f5f5e;
    }

    .btn {
      margin-bottom: 10px;
      font-size: 12px;
      padding: 12px 25px;
      letter-spacing: 1px;
    }
  }
}

.swiper_wrapper {
  height: auto;
}
