#section-services {
  @media (min-width: 768px) {
    .container-fluid > .row {
      display: flex;
      align-items: center;

      > .col-sm-6 {
        padding: 0;
      }
    }

    img {
      width: 100%;
    }
  }

  .service {
    padding: 20px 0;

    @media (min-width: 768px) {
      padding: 0;
    }

    &__title {
      color: #5f5f5e;
      line-height: 1;
      margin-bottom: 10px;
      padding: 0 30px;
    }

    &__copy {
      color: #5f5f5e;
      margin-bottom: 30px;
      padding: 0 30px;
      line-height: 1.3;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }

    &.service--text-block {
      @media (min-width: 768px) {
        padding: 10px 0 !important;
      }
    }

    &__image {
      &--mobile {
        padding: 10px 45px;
      }
    }
  }
}
